<li>
  {{#if devoured}}
    {{burger_name}}
  {{else}}
    {{id}}. {{burger_name}} 
  {{!-- <img class="eat" src="./img/eat.svg"> --}}
    <button class="devour" data-id="{{id}}">Devour It</button>
  {{/if}}
</li> 